@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");

body {
  font-family: "Roboto Flex", sans-serif;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(2,0,36);
  background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgb(16, 16, 92) 100%);
  color: #43cffa;
}

a:link {
  color: #00ffc8;
  text-decoration: none;
}

a:visited {
  color: #00ffc8;
}

main {
  width: 100%;
  max-width: 45.8rem;

  word-wrap: break-word;
}