<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="x-icon" href="/favicon.ico" />
    <meta property="og:image" content="/favicon.ico" />

    <!-- prettier-ignore -->
    {% block head %}
    {% if page %}
      {% set title = page.title %}
      {% set description = page.description %}
    {% elif section %}
      {% set title = section.title %}
      {% set description = section.description %}
    {% else %}
      {% set title = "" %}
      {% set description = "" %}
    {% endif %}

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    {% endblock head %}
  </head>

  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
